@import 'variables.css.scss';

/* See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}

a {
  color: $orange;
  text-decoration: none;
}

code {
  background-color: #EDEDED;
  border-radius: 2px;
  padding: 0 .25em;
}

li {
  margin-bottom: .4em;
}