@import 'variables.css.scss';

body {
  max-width: 1210px;
  margin: 0px auto;
  padding: 0 1em;
}

header {
  @extend .clearfix;
}

footer {
  border-top: 1px solid #efefef;
  margin-top: 4em;
  padding: 1.25em 0;
}