$orange: #E28C05;
$orange-dark: #d37b05;
$grey: #ABA387;
$dark: #565656;

$gutter-vertical: 1em;
$border-radius: 5px;

.clearfix {
  zoom: 1;
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}
